## Module 6 Challenge
### Deliverable 3: Create a Travel Itinerary Map

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,East London,ZA,72.54,clear sky,-33.0153,27.9116,Tu Casa
1,5,Busselton,AU,76.08,scattered clouds,-33.6500,115.3333,Observatory Guest House
2,11,Kupang,ID,77.58,scattered clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
3,13,Atuona,PF,78.80,clear sky,-9.8000,-139.0333,Villa Enata
4,14,Port Elizabeth,ZA,72.10,few clouds,-33.9180,25.5701,39 On Nile Guest House

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Acapulco")]
vacation_end = vacation_start # vacation_df.loc[(vacation_df["City"] == "Acapulco")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Palomares")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Ixtapa")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Cabo San Lucas")]

In [48]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = start
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start  --> {start}')
print(f'End    --> {end}')
print(f'Stop 1 --> {stop1}')
print(f'Stop 2 --> {stop2}')
print(f'Stop 3 --> {stop3}')

Start  --> (16.8634, -99.8901)
End    --> (16.8634, -99.8901)
Stop 1 --> (17.15, -95.0667)
Stop 2 --> (20.7, -105.2)
Stop 3 --> (22.8909, -109.9124)

In [49]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Driving
itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')

fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,109,Acapulco,MX,79.90,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
1,236,Palomares,MX,78.35,few clouds,17.1500,-95.0667,Hotel Monarca
2,258,Ixtapa,MX,75.22,few clouds,20.7000,-105.2000,Hotel Plaza Providencia
3,257,Cabo San Lucas,MX,75.51,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
4,109,Acapulco,MX,79.90,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [51]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2.add_layer(marker_layer)

# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))